.vov{
    animation-duration: 1s;
    animation-fill-mode: both; 
}
.vov.infinte{
    animation-iteration-count: infinite;
}
.vov.t-2{
    animation-delay: 2s;   
}
.vov.t-3{
    animation-delay: 3s;   
}
.vov.t-4{
    animation-delay: 4s;   
}
.vov.t-5{
    animation-delay: 5s;   
}
.vov.fast{
    animation-duration: 800ms;
}
.vov.faster{
    animation-duration: 500ms;
}
.vov.slow{
    animation-duration: 2s;
}
.vov.slower{
    animation-duration: 3s;
}
