/* Reset some default styles and set the background color */
body {
    margin: 0;
    padding: 0;
    background-color: #212129;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: whitesmoke;
}

/* General text styling */
#text {
    font-size: 1.5rem; /* Adjusted font size for better readability */
}

/* Dropdown styling */
#dropdown {
    margin: 30px 20px; /* Combined margin properties for shorter code */
    padding: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    border: 1.7px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

#dropdown option {
    background-color: whitesmoke;
    color: #4a4a4a;
}

#dropdown optgroup {
    background-color: whitesmoke;
    color: black;
}

/* Links group styling */
#links_group {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling for individual links in the group */
.vov_links {
    margin: 10px;
    color: whitesmoke;
    font-size: 1.2rem;
    border: 1px solid whitesmoke;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
}

/* GitHub corner animation on hover */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

/* Media query for smaller screens */
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

/* Carbon Ads styling */
#carbonads * {
    margin: 0;
    padding: 0;
}

#carbonads {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    max-width: 330px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
    z-index: 100;
}

#carbonads a {
    color: inherit;
    text-decoration: none;
}

#carbonads a:hover {
    color: inherit;
}

#carbonads span {
    position: relative;
    display: block;
    overflow: hidden;
}

#carbonads .carbon-wrap {
    display: flex;
}

#carbonads .carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
}

#carbonads .carbon-img img {
    display: block;
}

#carbonads .carbon-text {
    font-size: 13px;
    padding: 10px;
    margin-bottom: 16px;
    line-height: 1.5;
    text-align: left;
}

#carbonads .carbon-poweredby {
    display: block;
    padding: 6px 8px;
    background: #f1f1f2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    line-height: 1;
    border-top-left-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Media query for smaller screens to make the ads static */
@media (max-width: 576px) {
    #carbonads {
        position: static;
    }
}
