@keyframes fade-in-down{
    from{
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-down{
    animation-name: fade-in-down;
}