@keyframes fade-in-right{
    from{
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-right{
    animation-name: fade-in-right;
}