@keyframes shake-horizontal{
    0%, 20%, 40%, 60%, 80%, 100%{
        transform: translate3d(7px, 0, 0);
    }
    10%, 30%, 50%, 70%, 90%{
        transform: translate3d(-7px, 0, 0)
    }
}
.shake-horizontal{
    animation-name: shake-horizontal;
}