@keyframes zoom-out-left{
    40%{
        opacity: 1;
        transform: scale3d(0.5, 0.5, 0.5) translate3d(20px, 0, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    to{
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

.zoom-out-left{
    animation-name: zoom-out-left;
}