@keyframes shake-i-diagonally{
    0%, 20%, 40%, 60%, 80%, 100%{
        transform: translate3d(7px, -7px, 0);
    }
    10%, 30%, 50%, 70%, 90%{
        transform: translate3d(-7px, 7px, 0)
    }
}
.shake-i-diagonally{
    animation-name: shake-i-diagonally;
}