.wheel-out-right {
  animation: shutter-out-top 0.6s linear 0s normal none;
}

@keyframes shutter-out-top {
  0% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
  }
  100%{
      transform: rotateX(90deg);
      transform-origin: top;
      opacity: 1;
  }
}
