.wheel-in-left {
  animation: shutter-in-top 0.6s linear 0.2s normal backwards;
}
  
@keyframes shutter-in-top {
  0%{
      transform: rotateX(-100deg);
      transform-origin: top;
      opacity: 0;
  }
  100%{
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
  }
}
