.wheel-out-left {
  animation: shutter-out-bottom 0.6s linear 0s normal none;
}

@keyframes shutter-out-bottom {
  0%{
      transform: rotateX(0);
      transform-origin: bottom;
      opacity: 1;
  }
  100%{
      transform: rotateX(-90deg);
      transform-origin: bottom;
      opacity: 1;
  }
}
