@import "../base.css";

@keyframes roll-in-right{
    from{
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.roll-in-right{
    animation-name: roll-in-right;
}