@import "../base.css";

@keyframes roll-out-left{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
}

.roll-out-left{
    animation-name: roll-out-left;
}