@import "../base.css";

@keyframes roll-in-left{
    from{
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.roll-in-left{
    animation-name: roll-in-left;
}