@keyframes i-throb {
  0% {
    transform: scale(1);
  }
  12% {
    transform: scale(0.5);
  }
  27% {
    transform: scale(1);
  }
  41% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(1);
  }
}

.i-throb {
  animation-name: i-throb;
  animation-timing-function: ease-in-out;
}
