@import "../base.css";

@keyframes fade-out-right{
    from{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.fade-out-right{
    animation-name: fade-out-right;
}