@import "../base.css";

@keyframes fade-in-left{
    from{
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fade-in-left{
    animation-name: fade-in-left;
}